{% extends "layout.njk" %}

{% block content %}
    <div class="card table-container">
        <div class="header">        
            <a href="/students/create" class="btnNew">Novo</a>
            <form action="/students" method="GET">
                <input type="text"
                       name="filter"
                       placeholder="Nome ou e-mail"
                       value={{filter}}>
                <button type="submit">Filtrar</button>
            </form>
        </div>
        <table width="100%">
            <thead>
                <tr>
                    <th>Teachers</th>
                    <th>E-mail</th>
                    <th>Ano Escolar</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                {%for student in students%}
                    <tr>
                        <td>
                            <span style="background-image: url({{student.avatar_url}})"></span>
                            {{student.name}}
                        </td>
                        <td>{{student.email}}</td>
                        <td>
                            {% if student.grade == "5EF" %}
                            5º Ano Ensino Fundamental
                            {% endif %}   
                            {% if student.grade == "6EF" %}
                            6º Ano Ensino Fundamental
                            {% endif %}                                                    
                            {% if student.grade == "7EF" %}
                            7º Ano Ensino Fundamental
                            {% endif %}
                            {% if student.grade == "8EF" %}
                            8º Ano Ensino Fundamental
                            {% endif %}
                            {% if student.grade == "1EM" %}
                            1º Ano Ensino Medio
                            {% endif %}
                            {% if student.grade == "2EM" %}
                            2º Ano Ensino Medio
                            {% endif %}
                            {% if student.grade == "3EM" %}
                            3º Ano Ensino Medio
                            {% endif %}
                        </td>
                        <td>
                            <a href="/students/{{student.id}}">ver</a>
                        </td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
            <div class="pagination"
                     data-page={{pagination.page}}
                     data-total={{pagination.total}}
                     data-filter={{filter}}>
                </div>
        </div>
    {% endblock content %}