{% extends "layout.njk" %}

{% block content %}
    <div class="card table-container">
        <a href="/students/create">Novo</a>
        <table width="100%">
            <thead>
                <tr>
                    <th>Teachers</th>
                    <th>E-mail</th>
                    <th>Ano Escolar</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                {%for student in students%}
                    <tr>
                        <td>
                            <span style="background-image: url({{student.avatar_url}})"></span>
                            {{student.name}}
                        </td>
                        <td>{{student.email}}</td>
                        <td>
                            {% if student.education_level == "5EF" %}
                            5º Ano Ensino Fundamental
                            {% endif %}   
                            {% if student.education_level == "6EF" %}
                            6º Ano Ensino Fundamental
                            {% endif %}                                                    
                            {% if student.education_level == "7EF" %}
                            7º Ano Ensino Fundamental
                            {% endif %}
                            {% if student.education_level == "8EF" %}
                            8º Ano Ensino Fundamental
                            {% endif %}
                            {% if student.education_level == "1EM" %}
                            1º Ano Ensino Medio
                            {% endif %}
                            {% if student.education_level == "2EM" %}
                            2º Ano Ensino Medio
                            {% endif %}
                            {% if student.education_level == "3EM" %}
                            3º Ano Ensino Medio
                            {% endif %}
                        </td>
                        <td>
                            <a href="/students/{{student.id}}">ver</a>
                        </td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
    {% endblock content %}