{% extends "layout.njk" %}

{% block head %}
    <title>Error 404</title>
{% endblock %}

{% block content %}
    <div id="main">
        <div class="error">
                <h1>Error 404</h1>
        </div>
    </div>
{% endblock %}